################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application/obj
/BankAccount/bin/Debug
/BankAccount/obj
/Domain/bin/Debug
/Domain/obj
/Infrastructure/obj
/Application/bin/Debug
/Infrastructure/bin/Debug
/BankAccount/.vs
